<div class="slds-form--stacked">
	<div class="slds-form-element">
		<label class="slds-form-element__label" for="date">Date Picker Label</label>
		<div class="slds-form-element__control">
			<div class="slds-input-has-icon slds-input-has-icon--right">
				<svg aria-hidden="true" class="slds-input__icon slds-icon-text-default">
					<use xlink:href="{{unbound assetsLocation}}/assets/icons/utility-sprite/svg/symbols.svg#event"></use>
				</svg>
				{{input class="slds-input" type="text" placeholder="Pick a date" label="Date Picker Label" value=selectedDateText}}
			</div>
		</div>
	</div>
	{{#if isOpen}}
		<div class="slds-dropdown slds-dropdown--left slds-datepicker" aria-hidden="false" data-selection="single">
			<div class="slds-datepicker__filter slds-grid">
				<div class="slds-datepicker__filter--month slds-grid slds-grid--align-spread slds-size--3-of-4">
					<div class="slds-align-middle">
						<button class="slds-button slds-button--icon-container" {{action "clickNextOrPrevMonth" "prev"}}>
							<svg aria-hidden="true" class="slds-button__icon slds-button__icon--small">
								<use xlink:href="{{unbound assetsLocation}}/assets/icons/utility-sprite/svg/symbols.svg#left"></use>
							</svg>
							<span class="slds-assistive-text">Previous Month</span>
						</button>
					</div>
					<h2 id="month" class="slds-align-middle" aria-live="assertive" aria-atomic="true">{{convertNumberToMonth selectedMonth}}</h2>
					<div class="slds-align-middle">
						<button class="slds-button slds-button--icon-container" {{action "clickNextOrPrevMonth" "next"}}>
							<svg aria-hidden="true" class="slds-button__icon slds-button__icon--small">
								<use xlink:href="{{unbound assetsLocation}}/assets/icons/utility-sprite/svg/symbols.svg#right"></use>
							</svg>
							<span class="slds-assistive-text">Next Month</span>
						</button>
					</div>
				</div>
				<div class="slds-form-element">
					<div class="slds-form-element__control">
						<div class="slds-picklist datepicker__filter--year slds-shrink-none">
							<label>
								{{view "select" 
											class="slds-select select picklist__label" 
											content=years
											optionLabelPath="content.value"
											optionValuePath="content.value"
											value=selectedYear}}
							</label>
						</div>
					</div>
				</div>
			</div>
			<table class="datepicker__month" role="grid" aria-labelledby="month">
				<thead>
					<tr id="weekdays">
						<th id="Sunday">
							<abbr title="Sunday">S</abbr>
						</th>
						<th id="Monday">
							<abbr title="Monday">M</abbr>
						</th>
						<th id="Tuesday">
							<abbr title="Tuesday">T</abbr>
						</th>
						<th id="Wednesday">
							<abbr title="Wednesday">W</abbr>
						</th>
						<th id="Thursday">
							<abbr title="Thursday">T</abbr>
						</th>
						<th id="Friday">
							<abbr title="Friday">F</abbr>
						</th>
						<th id="Saturday">
							<abbr title="Saturday">S</abbr>
						</th>
					</tr>
				</thead>
				<tbody>
					{{#each row in calendarRows}}
						<tr>
							{{#each col in row}}
								<td {{bind-attr class="col.isCurrentMonth::slds-disabled-text col.isToday:slds-is-today col.isSelected:slds-is-selected" aria-disabled="col.isCurrentMonth:false:true"}} headers="Sunday" role="gridcell" {{action "clickSelectDate" col}}>
									<span class="slds-day">{{col.value}}</span>
								</td>
							{{/each}}
						</tr>
					{{/each}}
				</tbody>
			</table>
		</div>
	{{/if}}
</div>