<div class="slds-form-element__row slds-clearfix js-filter-set slds-show" id="applied-fields">
    <label class="slds-form-element__control slds-float--left slds-size--1-of-2">
        <div class="slds-form-element">
            <label class="slds-form-element__label slds-show" for="date">Start Date</label>
            <div class="slds-input-has-icon slds-input-has-icon--right">
                <svg aria-hidden="true" class="slds-input__icon slds-icon-text-default" style="cursor: pointer;">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{{unbound assetsLocation}}/assets/icons/utility-sprite/svg/symbols.svg#event"></use>
                </svg>
                {{multi-datepicker-input class="slds-input" type="text" placeholder="Pick a start date" label="Date Picker Label" value=selectedStartDateText data-aljs-multi-datepicker="start"}}
            </div>
        </div>
        {{#if isStartOpen}}
			<div class="slds-dropdown slds-dropdown--left slds-datepicker" aria-hidden="false" data-selection="single">
				<div class="slds-datepicker__filter slds-grid">
					<div class="slds-datepicker__filter--month slds-grid slds-grid--align-spread slds-size--3-of-4">
						<div class="slds-align-middle">
							<button class="slds-button slds-button--icon-container" {{action "clickNextOrPrevMonth" "prev"}}>
								<svg aria-hidden="true" class="slds-button__icon slds-button__icon--small">
									<use xlink:href="{{unbound assetsLocation}}/assets/icons/utility-sprite/svg/symbols.svg#left"></use>
								</svg>
								<span class="slds-assistive-text">Previous Month</span>
							</button>
						</div>
						<h2 id="month" class="slds-align-middle" aria-live="assertive" aria-atomic="true">{{convertNumberToMonth selectedStartMonth}}</h2>
						<div class="slds-align-middle">
							<button class="slds-button slds-button--icon-container" {{action "clickNextOrPrevMonth" "next"}}>
								<svg aria-hidden="true" class="slds-button__icon slds-button__icon--small">
									<use xlink:href="{{unbound assetsLocation}}/assets/icons/utility-sprite/svg/symbols.svg#right"></use>
								</svg>
								<span class="slds-assistive-text">Next Month</span>
							</button>
						</div>
					</div>
					<div class="slds-form-element">
						<div class="slds-form-element__control">
							<div class="slds-picklist datepicker__filter--year slds-shrink-none">
								<label>
									{{view "select" 
												class="slds-select select picklist__label" 
												content=years
												optionLabelPath="content.value"
												optionValuePath="content.value"
												value=selectedStartYear}}
								</label>
							</div>
						</div>
					</div>
					{{!--
					<div class="slds-picklist datepicker__filter--year slds-shrink-none">
						{{#aljs-button class="slds-button--neutral slds-picklist__label" aria-haspopup="true" selectedWhen=isYearOpen action="clickYearDropdown"}}
							{{selectedStartYear}}
							<svg aria-hidden="true" class="slds-icon slds-icon--small">
								<use xlink:href="{{unbound assetsLocation}}/assets/icons/utility-sprite/svg/symbols.svg#down"></use>
							</svg>
						{{/aljs-button}}
						{{#if isYearOpen}}
							<div class="slds-dropdown slds-dropdown--menu" aria-hidden="false">
							    <ul id="yearDropdown" class="slds-dropdown__list" style="max-height: 13.5rem; overflow-y:auto;">
							    	{{#each year in years}}
										<li id="yearDropdown{{unbound year.value}}" class="slds-dropdown__item" aria-selected="false" {{action "clickSelectYear" year.value}}>
											<a href="#" {{bind-attr class=":slds-truncate :slds-has-icon--left year.isSelected:slds-is-selected"}} role="menuitemradio">
												{{#if year.isSelected}}
													<svg aria-hidden="true" class="slds-icon slds-icon--small slds-icon--left"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{{unbound assetsLocation}}/assets/icons/standard-sprite/svg/symbols.svg#task2"></use></svg>
												{{/if}}
												<span>{{year.value}}</span>
											</a>
										</li>
									{{/each}}
								</ul>
							</div>
						{{/if}}
					</div>--}}
				</div>
				<table class="datepicker__month" role="grid" aria-labelledby="month">
					<thead>
						<tr id="weekdays">
							<th id="Sunday">
								<abbr title="Sunday">S</abbr>
							</th>
							<th id="Monday">
								<abbr title="Monday">M</abbr>
							</th>
							<th id="Tuesday">
								<abbr title="Tuesday">T</abbr>
							</th>
							<th id="Wednesday">
								<abbr title="Wednesday">W</abbr>
							</th>
							<th id="Thursday">
								<abbr title="Thursday">T</abbr>
							</th>
							<th id="Friday">
								<abbr title="Friday">F</abbr>
							</th>
							<th id="Saturday">
								<abbr title="Saturday">S</abbr>
							</th>
						</tr>
					</thead>
					<tbody>
						{{#each row in calendarRows}}
							<tr {{bind-attr class="row.slds-has-multi-row-selection"}}>
								{{#each col in row.data}}
									<td {{bind-attr class="col.isCurrentMonth::slds-disabled-text col.isToday:slds-is-today col.isSelected:slds-is-selected col.isSelected:slds-is-selected-multi" aria-disabled="col.isCurrentMonth:false:true"}} headers="Sunday" role="gridcell" {{action "clickSelectDate" col}}>
										<span class="slds-day">{{col.value}}</span>
									</td>
								{{/each}}
							</tr>
						{{/each}}
					</tbody>
				</table>
			</div>
		{{/if}}
    </label>
    <label class="slds-form-element__control slds-col slds-size--1-of-2">
        <div class="slds-form-element">
            <label class="slds-form-element__label slds-show" for="date">End Date</label>
            <div class="slds-input-has-icon slds-input-has-icon--right">
                <svg aria-hidden="true" class="slds-input__icon slds-icon-text-default" style="cursor: pointer;">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{{unbound assetsLocation}}/assets/icons/utility-sprite/svg/symbols.svg#event"></use>
                </svg>
                {{multi-datepicker-input class="slds-input" type="text" placeholder="Pick an end date" label="Date Picker Label" value=selectedEndDateText data-aljs-multi-datepicker="end"}}
            </div>
        </div>
        {{#if isEndOpen}}
			<div class="slds-dropdown slds-dropdown--left slds-datepicker" aria-hidden="false" data-selection="single">
				<div class="slds-datepicker__filter slds-grid">
					<div class="slds-datepicker__filter--month slds-grid slds-grid--align-spread slds-size--3-of-4">
						<div class="slds-align-middle">
							<button class="slds-button slds-button--icon-container" {{action "clickNextOrPrevMonth" "prev"}}>
								<svg aria-hidden="true" class="slds-button__icon slds-button__icon--small">
									<use xlink:href="{{unbound assetsLocation}}/assets/icons/utility-sprite/svg/symbols.svg#left"></use>
								</svg>
								<span class="slds-assistive-text">Previous Month</span>
							</button>
						</div>
						<h2 id="month" class="slds-align-middle" aria-live="assertive" aria-atomic="true">{{convertNumberToMonth selectedEndMonth}}</h2>
						<div class="slds-align-middle">
							<button class="slds-button slds-button--icon-container" {{action "clickNextOrPrevMonth" "next"}}>
								<svg aria-hidden="true" class="slds-button__icon slds-button__icon--small">
									<use xlink:href="{{unbound assetsLocation}}/assets/icons/utility-sprite/svg/symbols.svg#right"></use>
								</svg>
								<span class="slds-assistive-text">Next Month</span>
							</button>
						</div>
					</div>
					<div class="slds-form-element">
						<div class="slds-form-element__control">
							<div class="slds-picklist datepicker__filter--year slds-shrink-none">
								<label>
									{{view "select" 
												class="slds-select select picklist__label" 
												content=years
												optionLabelPath="content.value"
												optionValuePath="content.value"
												value=selectedEndYear}}
								</label>
							</div>
						</div>
					</div>
					{{!--<div class="slds-picklist datepicker__filter--year slds-shrink-none">
						{{#aljs-button class="slds-button--neutral slds-picklist__label" aria-haspopup="true" selectedWhen=isYearOpen action="clickYearDropdown"}}
							{{selectedEndYear}}
							<svg aria-hidden="true" class="slds-icon slds-icon--small">
								<use xlink:href="{{unbound assetsLocation}}/assets/icons/utility-sprite/svg/symbols.svg#down"></use>
							</svg>
						{{/aljs-button}}
						{{#if isYearOpen}}
							<div class="slds-dropdown slds-dropdown--menu" aria-hidden="false">
							    <ul id="yearDropdown" class="slds-dropdown__list" style="max-height: 13.5rem; overflow-y:auto;">
							    	{{#each year in years}}
										<li id="yearDropdown{{unbound year.value}}" class="slds-dropdown__item" aria-selected="false" {{action "clickSelectYear" year.value}}>
											<a href="#" {{bind-attr class=":slds-truncate :slds-has-icon--left year.isSelected:slds-is-selected"}} role="menuitemradio">
												{{#if year.isSelected}}
													<svg aria-hidden="true" class="slds-icon slds-icon--small slds-icon--left"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{{unbound assetsLocation}}/assets/icons/standard-sprite/svg/symbols.svg#task2"></use></svg>
												{{/if}}
												<span>{{year.value}}</span>
											</a>
										</li>
									{{/each}}
								</ul>
							</div>
						{{/if}}
					</div>--}}
				</div>
				<table class="datepicker__month" role="grid" aria-labelledby="month">
					<thead>
						<tr id="weekdays">
							<th id="Sunday">
								<abbr title="Sunday">S</abbr>
							</th>
							<th id="Monday">
								<abbr title="Monday">M</abbr>
							</th>
							<th id="Tuesday">
								<abbr title="Tuesday">T</abbr>
							</th>
							<th id="Wednesday">
								<abbr title="Wednesday">W</abbr>
							</th>
							<th id="Thursday">
								<abbr title="Thursday">T</abbr>
							</th>
							<th id="Friday">
								<abbr title="Friday">F</abbr>
							</th>
							<th id="Saturday">
								<abbr title="Saturday">S</abbr>
							</th>
						</tr>
					</thead>
					<tbody>
						{{#each row in calendarRows}}
							<tr {{bind-attr class="row.slds-has-multi-row-selection"}}>
								{{#each col in row.data}}
									<td {{bind-attr class="col.isCurrentMonth::slds-disabled-text col.isToday:slds-is-today col.isSelected:slds-is-selected col.isSelected:slds-is-selected-multi" aria-disabled="col.isCurrentMonth:false:true"}} headers="Sunday" role="gridcell" {{action "clickSelectDate" col}}>
										<span class="slds-day">{{col.value}}</span>
									</td>
								{{/each}}
							</tr>
						{{/each}}
					</tbody>
				</table>
			</div>
		{{/if}}
    </label>
</div>