<div class="slds-form-element">
	<label class="slds-form-element__label" for="lookup">{{objectPluralLabel}}</label>
	<div class="slds-form-element__control slds-input-has-icon slds-input-has-icon--right">
		<svg aria-hidden="true" class="slds-input__icon">
			<use xlink:href="{{unbound assetsLocation}}/assets/icons/utility-sprite/svg/symbols.svg#search"></use>
		</svg>

		{{#if selectedResult}}
			<div class="slds-pill-container slds-show">
				<a href="#void" class="slds-pill">
					{{#if useImgTag}}
						<img src="{{unbound objectIconUrl}}" {{bind-attr class=":slds-icon :slds-pill__icon objectIconClass objectIconUrl::slds-hide"}}></img>
					{{else}}
						<svg aria-hidden="true" {{bind-attr class=":slds-icon :slds-pill__icon objectIconClass objectIconUrl::slds-hide"}}>
							<use xlink:href="{{unbound objectIconUrl}}"></use>
						</svg>
					{{/if}}
					<span class="slds-pill__label">{{selectedResult.label}}</span>
					<button class="slds-button slds-button--icon-bare slds-pill__remove" {{action "clickRemoveSelection" selectedResult}}>
						<svg aria-hidden="true" class="slds-button__icon">
							<use xlink:href="{{unbound assetsLocation}}/assets/icons/utility-sprite/svg/symbols.svg#close"></use>
						</svg>
						<span class="slds-assistive-text">Remove</span>
					</button>
				</a>
			</div>
		{{else}}
			{{aljs-lookup-input class="slds-input" type="text" aria-autocomplete="list" role="combobox" aria-expanded=isExpanded aria-activedescendant=focusedSearchResult value=searchTerm disabled=disabled placeholder=placeholder data-qa-input=data-qa-input}}
		{{/if}}
	</div>
	{{#if selectedResults}}
		<div class="slds-pill-container">
			{{#each selectedResult in selectedResults}}
				<span class="slds-pill" style="margin-top: 3px;">
					<a href="#" class="slds-pill__label" {{action "clickRemoveSelection" selectedResult}}>
						{{#if useImgTag}}
							<img src="{{unbound objectIconUrl}}" {{bind-attr class=":slds-icon :slds-icon--small objectIconClass objectIconUrl::slds-hide"}}></img>
						{{else}}
							<svg aria-hidden="true" {{bind-attr class=":slds-icon :slds-icon--small objectIconClass objectIconUrl::slds-hide"}}>
								<use xlink:href="{{unbound objectIconUrl}}"></use>
							</svg>
						{{/if}}
						{{selectedResult.label}}
					</a>
					<button class="slds-button slds-button--icon-bare" {{action "clickRemoveSelection" selectedResult}}>
						<svg aria-hidden="true" class="slds-button__icon">
							<use xlink:href="{{unbound assetsLocation}}/assets/icons/utility-sprite/svg/symbols.svg#close"></use>
						</svg>
						<span class="slds-assistive-text">Remove</span>
					</button>
				</span>
			{{/each}}
		</div>
	{{/if}}
</div>
{{#if searchResults}}
	<div class="slds-lookup__menu" role="listbox">
		{{#if showUse}}
			<div class="slds-lookup__item">
				<button class="slds-button">
					<svg aria-hidden="true" class="slds-icon slds-icon-text-default slds-icon--small">
						<use xlink:href="{{unbound assetsLocation}}/assets/icons/utility-sprite/svg/symbols.svg#search"></use>
					</svg>&quot;{{searchTerm}}&quot; in {{objectPluralLabel}}</button>
			</div>
		{{/if}}
		<ul class="slds-lookup__list" role="presentation">
			{{#each result in searchResults}}
				<li class="slds-lookup__item" {{action "clickResult" result}} {{bind-attr data-qa-button="result.label"}}>
					<a {{bind-attr id="result.id"}} href="javascript:void(0)" role="option">
						{{#if useImgTag}}
							<img src="{{unbound objectIconUrl}}" {{bind-attr class=":slds-icon :slds-icon--small objectIconClass objectIconUrl::slds-hide"}}></img>
						{{else}}
							<svg aria-hidden="true" {{bind-attr class=":slds-icon :slds-icon--small objectIconClass objectIconUrl::slds-hide"}}>
								<use xlink:href="{{unbound objectIconUrl}}"></use>
							</svg>
						{{/if}}
						{{result.label}}
					</a>
				</li>
			{{/each}}
		</ul>
		{{#if canAdd}}
			<div class="slds-lookup__item">
				<button class="slds-button">
					<svg aria-hidden="true" class="slds-icon slds-icon-text-default slds-icon--small">
						<use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#add"></use>
					</svg>Add {{objectLabel}}</button>
			</div>
		{{/if}}
	</div>
{{/if}}