<template>
    <lightning-card title="Economic Empowerment">
        <div class="slds-p-around--medium">
            <template if:true={ecsPl}>
                <lightning-combobox name="status" label="EEP Status" placeholder="--None--" value={ecsValue}
                    onchange={handleESCChange} options={ecsPl.values}>
                </lightning-combobox>
            </template>
            <template if:true={nsPl}>
                <lightning-combobox name="status" label="EEP Next Step" placeholder="--None--" value={nsValue}
                    onchange={handleNSChange} options={nsPl.values}>
                </lightning-combobox>
            </template>
            <template if:true={ecsValue}>
                <div class="slds-p-top--medium">
                    <lightning-button variant="brand" label="Change Status" title="Change Status"
                        onclick={handleOpenModal}>
                    </lightning-button>
                </div>
            </template>
            <template if:false={ecsValue}>
                <div class="slds-p-top--medium">
                    <lightning-button disabled variant="brand" label="Change Status" title="Change Status"
                        onclick={handleOpenModal}>
                    </lightning-button>
                </div>
            </template>
            <template if:true={openModal}>
                <template if:false={showSpinner}>
                    <div style="height: 640px;">
                        <section class="slds-modal slds-fade-in-open">
                            <div class="slds-modal__container">
                                <header class="slds-modal__header">
                                    <button
                                        class="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse"
                                        title="Close" onclick={closeModal}>
                                        <lightning-icon icon-name="utility:close" size="medium">
                                        </lightning-icon>
                                        <span class="slds-assistive-text">Close</span>
                                    </button>
                                    <h2 class="slds-text-heading_medium slds-hyphenate">New Status Date</h2>
                                </header>
                                <div class="slds-modal__content slds-p-around_medium">
                                    <lightning-input type="date" label="Date" value={dateValue}
                                        onchange={handleDateChange}></lightning-input>
                                </div>
                                <footer class="slds-modal__footer">
                                    <lightning-button label="Cancel" variant="neutral" onclick={closeModal}>
                                    </lightning-button>
                                    <lightning-button label="Save" variant="brand" onclick={saveData}>
                                    </lightning-button>
                                </footer>

                            </div>
                        </section>
                        <div class="slds-backdrop slds-backdrop_open"></div>
                    </div>
                </template>
                <template if:true={showSpinner}>
                    <lightning-spinner alternative-text="Updating"></lightning-spinner>
                </template>
            </template>
            <template if:true={error}>
                <div class="slds-m-around--medium error-border">
                    <div class="slds-notify slds-notify_alert slds-theme_alert-texture slds-theme_error" role="alert">
                        <span class="slds-assistive-text">error</span>
                        <span class="slds-icon_container slds-icon-utility-error slds-m-right_x-small"
                            title="Description of icon when needed">
                            {error}
                        </span>
                    </div>
                </div>
            </template>
        </div>
    </lightning-card>
</template>