<apex:page controller="contact_Dedupe_Controller">
	<apex:form >
		<apex:pageblock title="Contact Deduplication" rendered="{!showMergeScreen == false}">
			<apex:pagemessages />
			<apex:commandbutton value="Merge" action="{!beginMerge}"/><apex:commandbutton value="Refresh" action="{!refresh}"/><apex:commandbutton value="Delete Selected" action="{!deleteContact}"/>
			<apex:pageblocktable value="{!contacts}" var="cr" columnswidth="5%,5%,5%,5%,5%" width="500px">
				<apex:column >
					<apex:facet name="header">Merge (max 2)</apex:facet>
					<apex:inputcheckbox value="{!cr.selected}"/>
				</apex:column>
				<apex:column >
					<apex:facet name="header">View</apex:facet>
					<apex:outputlink target="_Blank" value="/{!cr.c.id}"><apex:outputtext value="View" style="font-size:x-small;"/></apex:outputlink>
				</apex:column>
				<apex:column > 
					<apex:facet name="header">Last Name</apex:facet>
					<apex:outputtext value="{!cr.c.lastname}"/>
				</apex:column>
				<apex:column > 
					<apex:facet name="header">First Name</apex:facet>
					<apex:outputtext value="{!cr.c.firstname}"/>
				</apex:column>
				<apex:column > 
					<apex:facet name="header">Date of Birth</apex:facet>
					<apex:outputfield value="{!cr.c.birthdate}"/>
				</apex:column>
				<apex:column >
					<apex:facet name="header">Match</apex:facet>
					<apex:outputtext value="{!cr.matchtype}"/>	
				</apex:column>
				<apex:column >
					<apex:facet name="header">Created Date</apex:facet>
					<apex:outputfield value="{!cr.c.createddate}"/>
				</apex:column>
			</apex:pageblocktable>
			<apex:commandbutton value="Merge" action="{!beginMerge}"/>
			<br/><br/>
			Page {!currentPage} of {!totalPages}<br/>
			<apex:commandlink style="padding-right:10px;" value="Previous Page" action="{!prevPage}" rendered="{!currentpage > 1}"/><apex:commandlink value="Next Page" action="{!nextpage}" rendered="{!currentPage < totalPages}"/>
		</apex:pageblock>
		
		<apex:pageblock title="Contact Merging" rendered="{!showMergeScreen == true}">
			<apex:pagemessages />
			<apex:commandlink value="Return to list" action="{!backtolist}" rendered="{!mergesuccessful == true}"/>
			<apex:outputpanel rendered="{!mergesuccessful == false}">
				<apex:commandlink value="Go Back" action="{!backtolist}"/>
				<table width="100%">
					<tr>
						<td align="center">
							Select this as master&nbsp;&nbsp;<apex:inputcheckbox value="{!contact1Master}" />
						</td>
						<td><apex:commandbutton value="Execute Merge" action="{!executeMerge}"/></td>
						<td align="center">
							Select this as master&nbsp;&nbsp;<apex:inputcheckbox value="{!contact2Master}" />
						</td>
						
					</tr>
					<tr>
						<td colspan="3" style="border-bottom:2pt solid black;">&nbsp;</td>
					</tr>
					<tr>
						<td width="48%">
							<!-- <apex:iframe src="/{!contact1id}" scrolling="true"/> -->
							<apex:detail subject="{!contact1id}" relatedlist="true" title="false" relatedlisthover="false" inlineedit="true"/>
						</td>
						<td>&nbsp;</td>
						<td width="48%">
							<!-- <apex:iframe src="/{!contact2id}" scrolling="true"/> -->
							<apex:detail subject="{!contact2id}" relatedlist="true" title="false" relatedlisthover="false" inlineedit="true"/> 
						</td>
					</tr>
				</table>
			</apex:outputpanel>
		</apex:pageblock>
	</apex:form>
</apex:page>